* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}
body {
	height: 100%;
	width:100%;
	 overflow:hidden;
}

table {
	height: 100%;
	width:100%;
}

td.left {
	width:80px;
	background-color: green;
}

td.mainTop {
	height:380px;
	background: blue;
}

td.mainBottom {
	height:370px;
	background: yellow;
}

div.renderer {
	overflow:auto;
}

td.status {
	height:20px;
	min-height: 20px;
	max-height: 20px;
}

.file {
	color: white;
	padding: 5px;
}

.file:hover {
	background: lightskyblue;
	cursor:pointer;
}